

.container-mobile {
    max-width: 575px;
    margin: 0 auto;
    display: block;
    margin-top: 16%;
}

.container-mobile #accordion, #pop-mobile {
    padding-bottom: 16%;
}

.container-mobile .container-box {
    background-color: #fff;
}

.container-mobile header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.container-mobile .top-bar {
    width: 100%;
    position: relative;
}

.container-mobile .top-bar img.logo {
    position: absolute;
    top: 5.5vw;
    left: 4.5vw;
    width: 40vw;
}

.container-mobile .banner-mobile {
    position: relative;
    margin-top: -10%;
}

.container-mobile .banner-mobile img {
    width: 100%;
    height:45vw;
}

.container-mobile .banner-heading {
    font-size: 4.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    letter-spacing: .333vw;
    margin: 0;
    position: absolute;
    top: 25vw;
    left: 5.5vw;
}

.container-mobile .banner-caption {
    font-size: 2.62vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: .19vw;
    position: absolute;
    top: 30vw;
    left: 5.5vw;
}

.container-mobile .blue-gradient {
    cursor: pointer;
    height: auto;
    background-image: url(../images/svg/blue-gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-mobile .box-shadow-btm {
    box-shadow: inset 0 6px 6px -8px #000;
}

.container-mobile .box-content {
    box-shadow: inset 0 6px 6px -8px #000;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-mobile .menu-content {
    padding: 0;
    margin: 0;
    padding-right: 9vw;
    padding-left: 3.5vw;
    padding-top: 3.5vw;
}

.container-mobile .menu-content h4 {
    font-size: 4.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: .2vw;
    color: #fff;
    padding-bottom: 1.5vw;
    margin: 0;
}

.container-mobile .menu-content h4:hover {
    text-decoration: none;
}

.container-mobile .blue-gradient .icon {
    width: 4vw;
    float: right;
}

.container-mobile .blue-gradient .col-3 {
    padding: 0;
    padding-left: 5.5vw;
    padding-top: .4vw;
    padding-bottom: .5vw;
}

.container-mobile .blue-gradient .icon {
    transform: rotate(-180deg);
    transition: .3s transform ease-in-out;
    display: inline-block;
}

.container-mobile .blue-gradient .collapsed .icon {
    position: relative;
    transform: rotate(0);
    top: -1vw;
}

.container-mobile p.menu-caption {
    padding-top: 2vw;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    letter-spacing: .1vw;
    line-height: 2.6vw;
    margin: 0;
    width: 50vw;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container-mobile .tag {
    position: relative;
    border-bottom: 1.08px #fff solid;
}

.container-mobile .tag>img {
    height: 5.41vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

.container-mobile .content {
    padding: 0 30px 0 10px;
}

.profile-pic {
    border: 2px #ceedf5 solid;
    border-radius: 50%;
}

.profile-pic-desk {
    border: 2px #ceedf5 solid;
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
@media (max-width: 575px) {
    .profile-pic-desk {
        display: none;
    }
}

.container-mobile .content h1,
.container-mobile .content h2,
.container-mobile .content h3,
.team-content h2,
.theme-h2 {
    color: #234080;
    font-size: 4.375vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
    margin-bottom: 15px;
}
#back-home {
    font-size: 14px;
    line-height: 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
    margin-bottom: 15px;
}
@media (min-width: 575px) {
    #back-home {
        font-size: 24px;
        line-height: 80px;
    }
}
.container-mobile .content p,
.team-content p,
.theme-p {
    color: #234080;
    font-size: 2.88vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.container-mobile .pattern {
    background-image: url(../images/svg/left-side-pattern-element.svg);
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: 15vw;
    background-position: 7vw;
}

.container-mobile .collapsing {
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
}

.container-mobile footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000 !important;
}

.container-mobile a.contact-us {
    position: absolute;
    top: 5vw;
    left: 4.5vw;
    font-size: 2.8vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: .2vw;
    color: #fff;
    text-transform: uppercase;
}

.container-mobile a.contact-us:focus,
a.contact-us:hover {
    color: #fff;
    text-decoration: none;
}

.container-mobile .bottom-bar {
    position: relative;
    background-image: linear-gradient(to right,#026997,#13548b,#233b78,#233770,#233268);
}

.container-mobile .bottom-bar img.logo {
    position: absolute;
    top: 4.5vw;
    right: 4.5vw;
    width: 40vw;
}

.overlay {
    position: relative;
    z-index: 0;
    transition: .3s transform ease-in-out;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0d1127;
    opacity: .6;
    transition: .3s transform ease-in-out;
    z-index: 0;
}

body {
    background-image: linear-gradient(to right,#026997,#13548b,#233b78,#233770,#233268);
}

@media (min-width:575px) {
    body {
        background: -webkit-linear-gradient(left, #263067, #006a98);
        background: -moz-linear-gradient(left, #263067, #006a98);
        background: linear-gradient(to right, #263067, #006a98);
    }

    .modal-content {
        padding: 28px;
    }

    .container-desk .team-content h2,
    .container-desk .team-content h2 a {
        color: #0ca3cfff;
    }
}

.container-desk {
    width: 100%;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    font-size: 17.5px;
    position: relative;
}

.elements {
    position: relative;
    overflow: hidden;
}

.elements-bottom {
    position: relative;
    overflow-x: hidden;
}

#element-desk-top-left-blue {
    background-image: linear-gradient(to bottom, #006998, #016697, #046495, #066194, #0a5e92);
    background-repeat: repeat-x;
    width: 100%;
    height: 122px;
}

.element-desk-top-pink {
    background-color: #ec1978;
    width: 100%;
    height: 12px;
}

.element-desk-top-light-blue {
    background-color: #12a5d1;
    height: 12px;
}

.element-desk-bottom-light-blue {
    background-color: #12a5d1;
    height: 13px;
}
#element-desk-top-right-blue {
    background-color: #253067;
    width: 100%;
    height: 38px;
}

#element-holder-desk-top-left {
    position: absolute;
    width: 100%;
    right: 94.18%;
    top: 0;
    opacity: 1;
    overflow: hidden;
    display: none;
}

#element-holder-desk-top-right {
    position: absolute;
    width: 100%;
    left: 94.18%;
    top: 0;
    opacity: 1;
    overflow: hidden;
    display: none;
}

#element-holder-desk-bottom-left {
    position: absolute;
    width: 100%;
    right: 94.18%;
    bottom: 0;
    opacity: 1;
    overflow: hidden;
    display: none;
}

#element-holder-desk-bottom-right {
    position: absolute;
    width: 100%;
    left: 94.18%;
    bottom: 0;
    opacity: 1;
    overflow: hidden;
    display: none;
}

#element-desk-bottom-left {
    background-color: #243167;
    width: 100%;
    height: 43px;
    box-shadow: 0px 0px 4px -1px black;
}
.element-desk-top-right-wt-border {
    border-bottom: 1.6px #fff solid;
    width: 100%;
    height: 9px;
}
#element-desk-bottom-left-wt-border {
    border-top: 1.6px #fff solid;
    width: 100%;
    height: 10px;
}
#element-desk-bottom-right-invisible {
    width: 100%;
    height: 10px;
}
#element-desk-bottom-right {
    background-image: linear-gradient(to bottom, #086193, #066394, #046595, #016896, #016a98);
    width: 100%;
    height: 138px;
    box-shadow: 0px 0px 9px -3px #000000;
}

.element-desk-bottom-pink {
    background-color: #ec1978;
    width: 100%;
    height: 14px;
}

div#pop-faq>div>div>h2 {
    text-align: left;
}

@media only screen and (min-width:1697px) {

    #element-holder-desk-bottom-left,
    #element-holder-desk-bottom-right,
    #element-holder-desk-top-left,
    #element-holder-desk-top-right {
        display: block;
    }
}

@media only screen and (min-width:1920px) {

    #element-holder-desk-bottom-left,
    #element-holder-desk-top-left {
        right: 78%;
    }

    #element-holder-desk-bottom-right,
    #element-holder-desk-top-right {
        left: 78%;
    }
}

@media only screen and (min-width:2560px) {

    #element-holder-desk-bottom-left,
    #element-holder-desk-top-left {
        right: 75%;
    }

    #element-holder-desk-bottom-right,
    #element-holder-desk-top-right {
        left: 75%;
    }
}

@media only screen and (min-width:3200px) {

    #element-holder-desk-bottom-left,
    #element-holder-desk-top-left {
        right: 70%;
    }

    #element-holder-desk-bottom-right,
    #element-holder-desk-top-right {
        left: 70%;
    }
}

.container-desk>header {
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container-desk footer {
    position: relative;
}

.container-desk .top-bar {
    max-width: 1697px;
    width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.container-desk .top-bar img.logo {
    position: absolute;
    top: 33%;
    left: 4%;
    width: 25%;
}

.container-desk .bottom-bar {
    position: relative;
    max-width: 1697px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000 !important;
}

.container-desk a.contact-us {
    position: absolute;
    top: 45%;
    right: 8%;
    font-size: 0.9em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: .05714285714285714em;
    color: #fff;
    text-transform: uppercase;
}

.container-desk a.contact-us:focus,
a.contact-us:hover {
    color: #fff;
    text-decoration: none;
}

#contact-social-media-desk,
.theme-h2 {
    color: #234080;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.theme-p {
    color: #234080;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.banner {
    position: relative;
    margin-top: -200px;
    width: 100%;
    height: 612px;
    background-image: url(../images/fire-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
}

.inner-container {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen and (min-width: 768px) and (orientation:portrait){
    .inner-container {
        width: 95%;
    }
}

.container-desk .msg {
    position: absolute;
    top: 250px;
}

.container-desk .banner-heading {
    font-size: 1.25em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    letter-spacing: .1em;
    margin: 0;
    padding-bottom: 1%;
}

.container-desk .banner-caption {
    font-size: 0.8em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: .05714285714285714em;
    line-height: 1.2em;
}

.icon-group.row {
    cursor: pointer;
}

.icon-group a,
.icon-group a:focus,
.icon-group a:hover {
    text-decoration: none;
    color: transparent;
    cursor: pointer;
}

.desk-icons {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 60px;
    margin-top: -30px;
}
#faq img {
    top: 5px;
}
.desk-icons {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.icon-group a:hover .desk-icons {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

h3.icon-title {
    text-align: center;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.47em;
    letter-spacing: .1em;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: white 1px solid;
    margin-bottom: 8px;
}

.container-desk .icon-caption {
    text-align: center;
    color: #fff;
    opacity: 0.8;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.45em;
    font-weight: 400;
    letter-spacing: .05714285714285714em;
}

.section-container {
    display: none;
}

.desk-footer {
    display: none;
}

.section-head {
    position: relative;
    height: auto;
    box-shadow: 0 0 10px 0 #000;
    box-shadow: 0 0 10px 0 #000000ad;
    border-top-left-radius: 3.33vw;
}

.section-box {
    background-color: #fff;
    border-bottom-right-radius: 3.33vw;
    margin-bottom: 10vh;
}

.section-box-shadow {
    height: 2vh;
    box-shadow: inset -1px 7px 6px -6px #000000ad;
}

.section-head h2, .section-head h1  {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .08em;
    position: absolute;
    top: 30%;
    left: 2.5%;
    text-transform: uppercase;
}

.section-head a:focus,
.section-head a:hover {
    color: #fff;
    text-decoration: none;
}

.faq,
.foundry-fry,
.products,
.team-toast,
.zimdai {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: .05714285714285714em;
    position: absolute;
}

.foundry-fry {
    font-size: 1em;
    letter-spacing: .1em;
    top: 36%;
    right: 2%;
}

.zimdai {
    font-size: 0.8em;
    top: 46%;
    right: 2%;
}

.products {
    font-size: 0.9em;
    top: 45%;
    right: 2%;
}

.team-toast {
    font-size: 0.55em;
    top: 50%;
    right: 2%;
}

.faq {
    font-size: 0.85em;
    top: 50%;
    right: 2%;
}

.section-title {
    padding: 20px 17%;
}

.faq-title {
    padding: 20px 10%;
}

.faq-title h3,
.section-title h3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 0.6em;
    color: #234080;
    padding-bottom: 15px;
}

.section-body {
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
}

.section-body h1,
.section-body h2,
.section-body h3,
.section-body h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 0.6em;
    padding-top: 5px;
    text-align: center;
    color: #234080;
}

.section-body p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 0.4em;
    letter-spacing: unset;
    color: #234080;
}

.template-content, .faq-content {
    padding-left: 10%;
    padding-right: 10%;
}

.faq-content h1,.template-content h1,
.faq-content h2,.template-content h2,
.faq-content h3,.template-content h3,
.faq-content h4,.template-content h4,
.faq-content p, .template-content p {
    text-align: left !important;
}
.faq-content p, .template-content p{
    font-size: 0.55em;
}
#pop-desktop img, #pop-mobile img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-logo {
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-bottom: #fff 1px solid;
}

.footer-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 37%;
}

.footer-content h4 {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 34.01573181px;
    letter-spacing: .05714285714285714em;
}

.footer-content a,
.footer-content a:focus,
.footer-content a:hover {
    color: #fff;
    text-decoration: none;
    font-size: 22.67720032px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content li {
    display: block;
}

#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 200px;
    right: 1%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: 0;
    background-color: #12a5d1;
    background-color: #12a5d124;
    color: #fff;
    cursor: pointer;
    padding: 25px;
    border-radius: 50%;
    opacity: .5;
}

#scroll-to-top img {
    width: 27px;
    height: 27px;
    transform: rotate(180deg);
    padding-top: 6px;
}

#scroll-to-top:hover {
    opacity: .5;
    background-color: #12a5d1;
    background-color: #12a5d1bf;
}

.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}

.modal-header {
    padding: 0;
    border: 0;
}

.modal-body {
    padding: 0;
}

.modal-content {
    padding: 28px;
}

.animate-bottom {
    position: relative;
    animation: animatebottom .4s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@media (max-width:900px) and (max-height:900px) and (orientation:landscape) {
    .container-desk footer.custom-sticky{
        position: relative;
        bottom: 0;
        width: 100%;
    }
}

@media (max-width:900px) and (max-height:1200px) and (orientation:portrait) {
    .container-desk footer.custom-sticky {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media (min-height:1201px) {
    .container-desk footer.custom-sticky {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.desk-footer-wrap {
    display: none;
}

@media (min-width:1024px) and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .section-head>.img-fluid {
        height: 120px !important;
        width: 100%;
    }
}

@media (min-width:1500px) and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .section-head>.img-fluid {
        height: 140px;
        width: 100%;
    }
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {

    .container-desk footer .bottom-bar img,
    .container-desk header .top-bar img {
        width: 100%;
        height: auto;
    }
}

html {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(110, 110, 110, .8);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(218, 218, 218, .4);
}


/* Preloader */

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #12a5d1;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #233d7c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ec1978;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #263067;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  
            transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}
.rendered-md ul {
    list-style: circle;
    color: #234080;
}
@media (max-width: 865px) and (min-width: 576px){
    .banner {
        height: 420px;
    }
}
@media (max-width: 1200px) and (min-width: 866px){
    .banner {
        height: 500px;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .container-desk {
        font-size: 23px;
    }
    .desk-icons {
        width: 90px;
        margin-top: -46px;
    }
    h3.icon-title {
        padding-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    #faq img {
        top: 8px;
    }

}
@media only screen and (min-width : 860px) { 
    .container-desk {
        font-size: 26px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .container-desk {
        font-size: 30px;
    }
    .desk-icons {
        width: 110px;
        margin-top: -56px;
    }    
    h3.icon-title {
        padding-top: 25px;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }
    #contact-social-media-desk, .theme-h2 {
        font-size: 30px;
    }
    .theme-p {
        font-size: 18px;
    }
    #faq img {
        top: 10px;
    }
    .container-desk .msg {
        top: 275px;
    }
}

/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
    .container-desk {
        font-size: 36px;
    }
    #top-bar-desk-img {
        width: 100%;
        height: 170px;;
    }
   .container-desk .top-bar img.logo {
        max-width: 370px;
    }
    .container-desk .top-bar img.logo {
        top: 30%;
    }
    .desk-icons {
        width: 140px;
        margin-top: -70px;
    }
    h3.icon-title {
        padding-top: 30px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    #faq img {
        top: 15px;
    }
    .section-body h1, .section-body h2, .section-body h3, .section-body h4 {
        padding-top: 15px;
    }

}
@media (min-width: 1400px) {
    .container-desk {
        font-size: 40px;
    }
    .desk-icons {
        width: 168px;
        margin-top: -84px;
    }
    .container-desk img.blog-n-roadmap {
        width: 45%!important;
    }

}
@media (min-width: 1600px) {
    .container-desk {
        font-size: 45px;
    }
    .container-desk .top-bar img.logo {
        left: 7%;
    }

}
@media (min-width: 1680px) {
    .container-desk .banner-heading {
        font-size: 60.47px;
    }
    .container-desk .banner-caption {
        font-size: 37.79px;
    }
    .desk-icons {
        position: relative;
        margin: 0 auto;
        display: block;
        width: 200px;
        margin-top: -100px;
    }
    h3.icon-title {
        text-align: center;
        color: #fff;
        font-family: 'DM Sans', sans-serif;
        font-size: 24.53px;
        font-weight: 500;
        letter-spacing: .1em;
        padding-top: 40px;
        padding-bottom: 15px;
        border-bottom: white 2px solid;
        margin-bottom: 15px;
    }
    .container-desk .icon-caption{
        font-size: 21.67px;
    }
    .container-desk a.contact-us {
        position: absolute;
        top: 50%;
        right: 8%;
        font-size: 32.37386322px;
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        letter-spacing: .05714285714285714em;
        color: #fff;
        text-transform: uppercase;
    }
    .section-head h2, .section-head h1  {
        color: #fff;
        font-family: 'DM Sans', sans-serif;
        font-size: 57.13106537px;
        font-weight: 400;
        letter-spacing: .08em;
        position: absolute;
        top: 30%;
        left: 2.5%;
        text-transform: uppercase;
    }
    .individual-blog .section-head h1, .individual-blog .section-head h2 {
        font-size: 50px;
    }
    .foundry-fry {
        font-size: 57.13106537px;
        letter-spacing: .1em;
        top: 36%;
        right: 2%;
    }
    
    .zimdai {
        font-size: 34.79693222px;
        top: 46%;
        right: 2%;
    }
    
    .products {
        font-size: 40.21066666px;
        top: 45%;
        right: 2%;
    }
    
    .team-toast {
        font-size: 22.16346741px;
        top: 50%;
        right: 2%;
    }
    
    .faq {
        font-size: 33.46759796px;
        top: 50%;
        right: 2%;
    }
    
    .section-title {
        padding: 20px 17%;
    }
    
    .faq-title {
        padding: 20px 10%;
    }
    
    .faq-title h3,
    .section-title h3 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 900;
        font-size: 30.23626709px;
        color: #234080;
    }
    .section-body h1,
    .section-body h2,
    .section-body h3,
    .section-body h4 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 900;
        font-size: 26.38106728px;
        padding-top: 25px;
        text-align: center;
        color: #234080;
    }
    .section-body p {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 17.59759903px;
        letter-spacing: unset;
        color: #234080;
    }
    .faq-content p, .template-content p{
        font-size: 22px;
    }
}

.container-desk img.blog-n-roadmap {
    width: 45px;
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .container-desk img.blog-n-roadmap {
        width: 40% !important;
    }
}

.container-desk .floating-nav {
    position: absolute;
    top: 24%;
    right: 5%;
    width: 20%;
}
.container-desk .floating-nav a{
    font-size: 0.3em;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-align: center;
}

.container-desk .floating-nav a span, .container-desk .floating-nav a img {
    margin: 0 auto;
    
}
.container-desk .floating-nav a span{
    margin-top: 8%;
    letter-spacing: 0.3em;
}
.container-desk .floating-nav a span.blog-link{
    margin-left: 35%;
}
.container-desk .floating-nav .col .row {
    height: 4vw;
    margin: 0 auto;
}
.floating-nav-col {
    width:40%;
    
}

/* CSS for Blog Page */

/* .container-mobile.blog .mobile-blog-list{
    height: 100vh;
}  */
.mobile-blog-list .inner-container{
    width: 85%;
    padding-right: 5px;
}
.section-container.single-blog .foundry-fry {
    font-size: 1em;
    letter-spacing: .1em;
    top: 44%;
    right: 6%;
}

.section-container.single-blog .section-title {
    padding: 0% 7%;
}
.section-container.single-blog .single-blog-image {
    padding: 0%;
}
.section-container.single-blog .single-blog-image img{
    padding: 0% 0% 0% 0%;
}
.section-container.single-blog .section-body {
    padding: 0% 0% 0% 0%;
}

#pop-desktop .section-container.single-blog img, #pop-mobile .section-container.single-blog img {
        margin-top: 0px;
        margin-bottom: 0px;

}

.section-container.single-blog .blog-read{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 0.4em;
    letter-spacing: unset;
    text-transform: none;
    text-align: right;
    padding-bottom: 5%;
}

.section-mobile-title h2{
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 4.375vw;
    color: #234080;

}
.section-mobile-title h3{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    color: #234080;
}

.section-container.single-blog .section-head h2 {
    font-size: 0.8rem;
}
.section-container.single-blog .section-title h3{
    border-bottom: 1px solid #234080;
}
.section-container.single-blog .section-box {
    margin-bottom: 2vh;
    background: transparent;
}

.section-container.single-blog {
    display: block;
    margin-top: 0px;   
}

.section-container.single-blog .foundry-fry {
    font-size: 0.8em;
    letter-spacing: .1em;
    top: 34%;
    right: 6%;
}
.mobile-blog-list{
    background-color: #fff;
}
.section-container.single-blog .section-box-shadow{
    display: none;
}

@media (min-width: 575px) {
    .mobile-blog-list .inner-container{
        width: 80%;
        padding-right: 15px;
    }
    
    .section-container.single-blog .section-box {
        margin-bottom: 7vh;
    }

    .section-container.single-blog .single-blog-image {
        padding: 0px 15px 0px 15px;
        text-align: center;
    }

    .section-container.single-blog .section-body {
        padding: 0% 0% 0% 7%;
    }

    .section-container.single-blog .section-box-shadow{
        display: block;
    }

    .section-container.single-blog {
        margin-top: -15px;   
    }
    .section-container.single-blog .section-head h2 {
        font-size: 1em;
    }
    .section-container.single-blog .section-box {
        margin-bottom: 10vh;
        background: #fff;
    }
    .section-container.single-blog span.foundry-fry {
        /*font-size: 0.8em;*/
        font-size: 0.7em;
        top: 44%;
    }
    
    .individual-blog #blog-date.foundry-fry {
        font-size: 0.9em;
    }   
    .section-container.single-blog .single-blog-image img{
        padding: 4% 8% 10% 0%;
    }
}

@media (min-width: 768px) {
    .section-container.single-blog {
        margin-top: -50px;
        padding-bottom: 4%; 
    }
}

@media (max-width: 575px) {
    .section-container.single-blog header {
        position: relative;
        z-index: 900;
    }
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .individual-blog .container-desk .section-head{
        box-shadow: 0px 0px 0px 0px #000;
    }
    .blog-list-page .container-desk .section-head{
        box-shadow: 0px 0px 0px 0px #000;
    }
    .roadmap-bg-container > img {
        width:100%;
    }

}

/* Grid Blog*/

.section-container.single-blog-grid {
    display: block;
}

.single-blog-grid .blog-grid-head h2{
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: .08em;
    position: absolute;
    top: 12%;
    left: 16.5%;
    text-transform: uppercase;
}
@media (min-width: 1200px){
    .single-blog-grid .blog-grid-head h2{
        font-size: 1em;
        top: 225px;
        left: 14.5%;
    } 

    .single-blog-grid .blog-grid-head span.foundry-fry{
        font-size: 1em;
        top: 240px;
        right: 22%;
    }
}

.single-blog-grid .blog-grid-head .foundry-fry {
    font-size: 0.8em;
    top: 12%;
    right: 22%;
}

.single-blog-grid .blog-gid-section-box{
    background-color: #fff;
    width: 98%;
    margin-left: 1%;
    margin-top: -2%;
}

.single-blog-grid .icon-title{
    padding-top: 12px;
    padding-bottom: 3px;
    border-bottom: #234080 1.5px solid;
}

.single-blog-grid .icon-date {
    padding-top: 0px;
}

.single-blog-grid  #single-blog-grid-image {
    margin-top: 0px;
}



/* #roadmap {
    background-image: url('/images/svg/roadmap-elements/roadmap-bg.svg');
    background-position: top center;
    background-repeat: no-repeat;
} */
#roadmap .logo {
    width:25%;
    display: block;
    margin: 0 auto;
}
#roadmap img#roadmap-flowcart {
    width: 7%;
    padding-top: 2%;
    display: block;
    margin: 0 auto;
}
#roadmap h2 {
    font-size: 3vw;
    letter-spacing: 1vw;
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 0 0 6px black;
    padding-top: 1.5%;
}
#roadmap h5 {
    font-size: 2vw;
    letter-spacing: 1vw;
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 0 0 6px black;
    padding-top: 1.5%;
}
#roadmap-home-link:hover {
    text-decoration: none;
}
.roadmap-bg-container {
    position: relative;
    padding-bottom: 10%;
}
.roadmap-flowchart-container {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 4%;
}

.blog-author {
    padding: 0 10%;
}
.blog-author h3{
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 1em;
    color: #234080;
}
.container-mobile.blog .container-box .mobile-blog, .mobile-blog-list   {
    padding-top: 30%!important;
    margin-top: -16%;
}
.single-blog .section-body p{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
}
.fadeout {
    position: relative; 
    bottom: 0.7em;
    height: 0.7em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 80%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 80%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 80%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 80%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 80%
    );
} 
@media (min-width: 575px){
    .single-blog .section-body p{
        height: 120px;
    }  

}
@media (min-width: 1200px){
    .single-blog .section-body p{
        height: 180px;
    }  

}
#top-date-element h3, #top-date-element-next-to-star {    
    position: absolute;
    top: 22%;
    left: 50.5%;
    width: 20%;
    z-index: -1;
}
#top-date-element h3{
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 1;
    top: 23.3%;
    left: 53%;
    text-transform: uppercase;
}
#week2-connect {
    width: 5.61%;
    height: 2.5%;
    position: absolute;
    top: 27.56%;
    z-index: 2;
    left: 45.5%;
}
#week2-content h3 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: -4.5vw;
    left: 65%;
}
#fat-tresurey-content h3 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: -4vw;
    left: 62%;
}
#week2-content h4 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: -2vw;
    left: 0%;
    text-align: center;
    width: 100%;
}
#month3-content h4 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: -1.8vw;
    left: 0%;
    text-align: center;
    width: 100%;
}
#fat-tresurey-content h4 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: -1vw;
    width: 100%;
    left: 0%;
    text-align: center;
}
#week2-content div, #month3-content div, #fat-tresurey-content div {
    width: 80%;
    z-index: 2;
    position: unset;
    margin: 0 auto;
    padding-top: 2%;
}
#week2-content div p {padding-top: 2%;}
#week2-content div p, #month3-content div p, #fat-tresurey-content div p{
    font-size: 0.8vw;
    letter-spacing: unset;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 12px;
    text-transform: unset;
    text-align: center;

}
#week2-top-section {
    width: 100%;
    position: absolute;
    top: -6.2vw;
    left: 0%;
    z-index: 1;
}
#week2-content {
    position: absolute;
    top: 33.99%;
    left: 24%;
}
.roadmap-box-content {
    width: 22.1%;
    min-height: 14vw;
    background-image: url('/images/png/left-content-box/02-roadmap-middle-part.png');
    background-repeat: repeat-y;
    background-size: contain;
}
#week2-btm-section {
    width: 100%;
    position: absolute;
    bottom: -24%;
}
#month3-connect {
    width: 4.5%;
    height: 2.4%;
    z-index: 2;
    position: absolute;
    top: 41.97%;
    left: 49%;
}
#month3-content{
    position: absolute;
    top: 48.3%;
    left: 53%;
}
#month3-top-section{
    width: 100%;
    position: absolute;
    top: -6.2vw;
    left: 0%;
    z-index: 1;
}
#month3-btm-section {
    width: 100%;
    position: absolute;
    bottom: -22%;
}
#month3-content h3 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: -4.6vw;
    left: 8%;
}
#fat-tresurey-connect {
    width: 6%;
    position: absolute;
    top: 46%;
    left: 44%;
    z-index: 2;
}

#fat-tresurey-top-section {
    width: 100%;
    position: absolute;
    top: -5.5vw;
    left: 0%;
    z-index: 1;
}
#fat-tresurey-content {
    position: absolute;
    top: 62.5%;
    left: 22.5%;

}

#fat-tresurey-btm-section {
    width: 100%;
    position: absolute;
    bottom: -22%;
}
#year1-connect {
    width: 4.482%;
    height: 2.4%;
    z-index: 3;
    position: absolute;
    top: 93.2%;
    left: 49.1%;
}
#year1-content {
    position: absolute;
    top: 101%;
    left: 53%;
}
#year1-top-section {
    width: 100%;
    position: absolute;
    top: -7.4vw;
    left: 0%;
    z-index: 2;
}
#year1-btm-section {
    width: 100%;
    position: absolute;
    bottom: -17.8%;
}
#the-future-connect {
    width: 2.1%;
    height: 5.3%;
    position: absolute;
    top: 98%;
    z-index: 2;
    left: 48.9%;
}
#the-future-content{
    position: absolute;
    top: 111.8%;
    left: 29%;
    width: 22.01%;
}
#the-future-top-section {
    width: 101.9%;
    position: absolute;
    top: -7.5vw;
    left: -0.99%;
    z-index: 1;
}
#the-future-btm-section {
    width: 100%;
    position: absolute;
    bottom: -23%;
}
#year-content {
    position: absolute;
    top: 209%;
    left: 29%;
    border-bottom-right-radius: 4vw;
}
#year1-content h3 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 3;
    text-transform: uppercase;
    position: absolute;
    top: -6vw;
    left: 11%;
}
#year1-content h4 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 3;
    text-transform: uppercase;
    position: absolute;
    top: -3vw;
    left: 22%;
    width: 60%;
    text-align: center;
}
#year1-content #div1 {
    width: 80%;
    z-index: 2;
    position: unset;
    margin: 0 auto;
}
#year1-content #div1 p {
    font-size: 0.8vw;
    letter-spacing: unset;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 12px;
    text-transform: unset;
    top: 6%;
    position: absolute;
    width: 80%;
    text-align: center;
}

#year1-content #div2 h4 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: 6.3vw;
    left: 22%;
}
#extent-pink-header-1 {
    background-color: #ec1978;
    box-shadow: inset 0px 1vw 0.2vw 0px black;
    height: 4vw;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2!important;
    text-transform: uppercase;
    position: absolute!important;
    top: -2vw;
    left: 6.5%;
    width: 87%!important;
    text-align: center;
}

#extent-pink-header-2 {
    background-color: #ec1978;
    box-shadow: inset 0px 0vw 0.3vw 0px black;
    height: 4vw;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2!important;
    text-transform: uppercase;
    position: absolute!important;
    top: 5.8vw;
    left: 6.5%;
    width: 87%!important;
    text-align: center;
}
#year1-content #div2 p {
    font-size: 0.8vw;
    letter-spacing: unset;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 12px;
    text-transform: unset;
    top: 56%;
    position: absolute;
    width: 80%;
    padding-top: 2%;
    text-align: center;
}
#div2 {
    width: 80%;
    z-index: 2;
    position: unset;
    margin: 0 auto;
    height:19vw;
    padding-top: 2%;
}


#the-future-content h3 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: -5.8vw;
    left: 53%;
}

#the-future-content h4 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: -3.2vw;
    left: 18%;
    width: 65%;
    text-align: center;
}
#the-future-content #the-future-box-content {
    width: 80%;
    padding-top: 2%;
    z-index: 2;
    position: unset;
    margin: 0 auto;
}
#the-future-content div p {
    font-size: 0.8vw;
    letter-spacing: unset;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 12px;
    text-transform: unset;
    padding-top: 2%;
    text-align: center;
}

.wrap-roadmap-mobile {
    position: relative;
    padding-bottom: 5%;
    min-height: 100vh;
}
img#bg-roadmap-mobile {
    width:100%;
}
img#arrow-roadmap-mobile{
    width: 50%;
    position: absolute;
    top: 3vw;
    left: 31%;
    height: 84%;
    padding-bottom: 18%;
}
#top-date-element-next-to-star-mobile{
    position: absolute;
    top: 10vw;
    left: -12.5%;
    width: 85%;
    z-index: -1;
}
#top-date-element-mobile h3 {
    position: absolute;
    font-size: 4.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 1;
    top: 12.5vw;
    text-transform: uppercase;
 }
 #month3-top-section-mobile,  #fat-tresurey-top-section-mobile, #year1-top-section-mobile, #the-future-top-section-mobile{
    width: 100%;
    position: absolute;
    left: 0%;
    z-index: 1;
}
#month3-top-section-mobile{
    top: -13vw;
}
#fat-tresurey-top-section-mobile{
    top: -16vw;
}
#year1-top-section-mobile{
    top: -15vw;
}   
#the-future-top-section-mobile{
    top: -18.4vw;
}
 #month3-connect-mobile {
    width: 12%;
    position: absolute;
    top: 33.7%;
    left: 12.5%;
}
.roadmap-box-content-mobile {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    min-height: 14vw;
    background-image: url(/images/png/left-content-box/02-roadmap-middle-part.png);
    background-repeat: repeat-y;
    background-size: contain;
}

#week2-content-mobile {
    position: relative;
    border-bottom-left-radius: 10vw;
    margin-top: 40vw;
    margin-bottom: 25vw;
}
#month3-content-mobile, #fat-tresurey-content-mobile, #year1-content-mobile, #the-future-content-mobile {
    position: relative;
    border-bottom-left-radius: 10vw;
    margin-bottom: 25vw;
}
#week2-top-section-mobile {
    width: 100%;
    position: absolute;
    top: -16vw;
    left: 0%;
    z-index: 1;
}
#month3-content-mobile h3, #week2-content-mobile h3, #fat-tresurey-content-mobile h3, #year1-content-mobile h3, #the-future-content-mobile h3 {
    font-size: 4vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    left: 7%;
}
#month3-content-mobile h3{
    top: -9vw;
}
#week2-content-mobile h3{
    top: -12vw;
}
#fat-tresurey-content-mobile h3{
    top: -12vw;
}
#year1-content-mobile h3{
    top: -11vw;
}
#the-future-content-mobile h3 {
    font-size: 3.5vw;
    top: -14vw;
    left: 4vw;
}
#week2-content-mobile h4 {
    font-size: 4vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: -3vw;
    left: 0%;
    text-align: center;
    width: 100%;
}
#month3-content-mobile h4,  #fat-tresurey-content-mobile h4, #year1-content-mobile h4, #the-future-content-mobile h4 {
    font-size: 4vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    left: 0%;
    text-align: center;
    width: 100%;
}
#month3-content-mobile h4{
    top: -1vw;
}
#fat-tresurey-content-mobile h4{
    top: -3vw;
}
#year1-content-mobile h4{
    top: -3vw;
}
#the-future-content-mobile h4{
    top: -6vw;
}
#month3-content-mobile div p, #week2-content-mobile div p,  #fat-tresurey-content-mobile div p, #year1-content-mobile div p , #the-future-content-mobile div p{
    font-size: 2.8vw;
    letter-spacing: unset;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 12px;
    text-transform: unset;
    text-align: center;
}
#month3-content-mobile div, #week2-content-mobile div,  #fat-tresurey-content-mobile div, #year1-content-mobile div ,#the-future-content-mobile div {
    width: 80%;
    margin: 0 auto;
}
#month3-content-mobile div{
    padding-top: 6vw;
}
#week2-content-mobile div{
    padding-top: 4vw;
}
#fat-tresurey-content-mobile div{
    padding-top: 4vw;
}
#year1-content-mobile div{
    padding-top: 4vw;
}
#the-future-content-mobile div {
    padding-top: 4vw;
}
#month3-btm-section-mobile,  #fat-tresurey-btm-section-mobile , #year1-btm-section-mobile, #the-future-btm-section-mobile{
    width: 100%;
    position: absolute;
    bottom: -4%;
}
#week2-btm-section-mobile {
    width: 100%;
    position: absolute;
    bottom: -4%;

}

#year1-content-mobile #div1-mobile {
    width: 80%;
    z-index: 2;
    position: unset;
    margin: 0 auto;
}
#year1-content-mobile #div1-mobile p {
    font-size: 2.8vw;
    letter-spacing: unset;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 12px;
    text-transform: unset;
    text-align: center;
}

#year1-content-mobile #div2-mobile h4 {
    font-size: 4.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: 26.8vw;
}

#extent-pink-header-2-mobile {
    background-color: #ec1978;
    box-shadow: inset 0px 0vw 0.3vw 0px black;
    height: 10vw;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2!important;
    text-transform: uppercase;
    position: relative!important;
    left: 0;
    width: 87%!important;
    text-align: center;
}
#year1-content-mobile #div2 h4 {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    position: absolute;
    top: 8.3vw;
    left: 22%;
}
#year1-content-mobile {
    min-height: 68vw;
}
.container-mobile .floating-nav {
    width: 53vw;
    left: 78vw;
    position: absolute;
    top: 13vw;
}
.container-mobile .floating-nav .row {
    height: 8vw;
}
.container-mobile .floating-nav.home-mob-nav{
    top: 16vw;
}

.container-mobile .floating-nav a span {
    margin-top: 0%;
    font-size: 2vw;
}
.container-mobile .floating-nav a span.home-roadmap-link , .container-mobile .floating-nav a span.home-blog-link {
    color: #fff;
}

.container-mobile .floating-nav a span.blog-link, .container-mobile .floating-nav a span.home-blog-link {
    margin-left: 3%;
}

/*
.container-mobile .floating-nav a span, .container-mobile .floating-nav a img {
    margin: 0 auto;
}
*/
.container-mobile img.blog-n-roadmap {
    width: 8vw;
}
.container-mobile .blog-mobile-link {
    position: absolute;
    left: -2vw;
}
.container-mobile .roadmap-mobile-link{
    position: absolute;
    left: 10vw;
}

.connect-mobile {
    width: 45.3%;
    height: 2.6%;
    position: absolute;
    top: 5%;
    left: -21.8%;
}
.connect-mobile#mon3-connect-mobile{
    top: 24%;
}
.connect-mobile#fat-connect-mobile{
    top: 43%
}
.connect-mobile#year1-connect-mobile{
    top: 60.4%;
}
.connect-mobile#future-connect-mobile{
    top:79.4%;
}
#star-roadmap-mobile{
    position: absolute;
    top: 1%;
    z-index: 10;
    height: 4%;
    width: 68%;
    left: 23%;
}
.btm-blue {
    position: absolute!important;
    bottom: -2.6vw;
    z-index: 0!important;
    left: 6%;
    height: 2.6vw;
    width: 87.9%!important;
    background-image: linear-gradient(to left,#0c5a8f,#12548b,#1c4985,#233f7f,#233b78);
}
#month3-content .btm-blue {
    bottom: -2.5vw;
}

#month3-content div,#fat-tresurey-content div{
    padding-top: 6%;
}

@media (max-width: 1300px) {
    #week2-connect {
        width: 5.7%;
        height: 2.5%;
        position: absolute;
        top: 27.8%;
        z-index: 2;
        left: 45.5%;
    }

    #week2-btm-section {
        bottom: -21.5%;
    }
    .btm-blue {
        height: 2.65vw;
    }
    #fat-tresurey-btm-section{
        bottom: -20.4%;
    }
    #month3-btm-section {
        bottom: -21%;
    }
    #the-future-btm-section {
        bottom: -22%;
    }
    #month3-connect {
        width: 4.5%;
        height: 2.5%;
        z-index: 2;
        position: absolute;
        top: 42%;
        left: 49%;
    }
    #year1-connect {
        top: 93.3%;
    }
}
@media (min-width: 1600px) {
    #the-future-btm-section {
        bottom: -25%;
    }
}
@media (max-width: 575px) {
    #pop-mobile .rendered-md {
        padding-left: 2%;
    }
}

#roadmap h5 {
    font-size: 2vw;
    letter-spacing: 1vw;
    text-transform: uppercase;
    font-family: 'DM Sans',sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 6px #000;
    padding-top: 1.5%;
}
.custom-blog-padding-left {
    padding-left: 4.5%!important;
    padding-right: 4.5%!important;

}
.section-text-column {
    width: 100%;
}
#faq-accordion .card h2 {
    margin: 0!important;
    padding: 0!important;
    text-align: left;
}

.container-desk .buy-fry-button-link {
    display: inline-block;
    padding: 0.6vw 1vw;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.6em;
    letter-spacing: .1em;
    text-shadow: 2px 2px rgb(77, 76, 76);
    font-weight: 500;
    background-image: -webkit-linear-gradient(45deg, #ff0073 0%, #cc0f57 100%);
    background-image: linear-gradient(45deg, #ff0073 0%, #cc0f57 100%);
    transition: .2s;
}

.container-desk .buy-fry-button-link:hover {
    transform: scale(1.2);
    background-image: -webkit-linear-gradient(45deg, #cc0f57 0%, #c00534 100%);
    background-image: linear-gradient(45deg, #cc0f57 0%, #c00534 100%); 
}
.buy-fry-button-link:focus {
    outline:0;
}
.container-desk .floating-nav-buy-fry {
    position: absolute;
    top: 21%;
    right: 20.8%;
    width: 20%;
}
.container-mobile .floating-nav-buy-fry{
    width: 40vw;
    left: 83.4vw;
    position: absolute;
    top: 4vw;
}
.container-mobile .buy-fry-button-link {
    display: inline-block;
    padding: 1vw 1.8vw;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8em;
    letter-spacing: .1em;
    text-shadow: 2px 1px rgb(77, 76, 76);
    font-weight: 500;
    background-image: -webkit-linear-gradient(45deg, #ff0073 0%, #ec1978 100%);
    background-image: linear-gradient(45deg, #ff0073 0%, #ec1978 100%);
    transition: .2s;
}
.container-mobile .buy-fry-button-link:hover {
    background-image: -webkit-linear-gradient(45deg, #cc0f57 0%, #c00534 100%);
    background-image: linear-gradient(45deg, #cc0f57 0%, #c00534 100%); 
}
