/* p {
    font-size: 20px;
}

.text-block {
    margin-bottom: 50px;
} */

.body {
    width: 80%;
    padding: 20px;
    margin: auto;

    @media only screen and (max-width:768px) {
        width: 100%;
        padding: 10px;
    }
}

.front-page-section {
    padding-bottom: 100px;
}

.front-page-block {
    width: 650px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 35px;
    padding-bottom: 35px;

    border-radius: 6px;

    color: #ffffff;

    @media only screen and (max-width:425px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    };

}

.front-page-block .pretitle {
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    font-size: 20;
}
.front-page-block .title {
    padding-top: 15px;
    font-weight: bold;
    font-size: 55;
    line-height: 1;
    padding-bottom: 20px;
}
.front-page-block .blurb {
    color: rgba(255,255,255,0.8);
    font-size: 26;
}
/*
.front-page-block .action-link
*/


.section-points-container {
    width:100%;
}

.section-point {
    padding: 50px;
}

.section-points-container .section-point .title {
    font-size: 27;
    font-weight: bold;
}
.section-points-container .section-point .blurb {
    font-size: 18;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.anchor {
    padding-top: 60px;
    margin-top:-60px
}