.my-navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#071B5C;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.home-logo {
    float:left;
}
.fry-logo {
    float:left;
    padding:10px;
}
.foundry {
    float:left;
    font-size:40;
    color:white;
    padding-top:5px;
    font-weight:bold;
}



.navlink-container {
    flex: 0 1 auto;
    display: flex;
    margin-right: 10px;
}
.my-navlink {
    flex: 0 1 auto;
    margin: 10px;
}
.my-navbar a {
    padding:10px;
    font-size:20;
    color:white;
}
.my-navbar a:hover {
    background-color:#273B6C;
    text-decoration: none;
}

.anchor {
    position:relative;
}
.modified-anchor {
    position: absolute;
    left: 0px;
    top: -60px;
}

.header {
    background-color: #071B5C;
    padding:60px;
}
.header-spacer {
    height:100px;
}
.header h1 {
    color:white;
    font-size: 70;
}
.header p {
    color:white;
    font-size:30;
    margin:0px;
    padding:0px;
}

.body {
    width: 80%;
    padding: 20px;
    padding-top:40px;
    margin: auto;

    @media only screen and (max-width:768px) {
        width: 100%;
        padding: 10px;
    }
}

.front-page-section {
    padding-bottom: 100px;
}

.front-page-block {
    width: 650px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 35px;
    padding-bottom: 35px;

    border-radius: 6px;

    color: #ffffff;

    @media only screen and (max-width:425px) {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    };

}

.front-page-block .pretitle {
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    font-size: 20;
}
.front-page-block .title {
    padding-top: 15px;
    font-weight: bold;
    font-size: 55;
    line-height: 1;
    padding-bottom: 20px;
}
.front-page-block .blurb {
    color: rgba(255,255,255,0.8);
    font-size: 26;
    padding-bottom: 15px;
}

.team {
    padding-top:40px;
}
.team h2 {
    margin-top:0px;
}
.team .blurb {
    font-size : 22;
}
.team .row {
    display:flex;
}
.team img {
    position:relative;
    overflow:hidden;
    min-width:100%;
    height:auto;
    width:0;
}
/*
.front-page-block .action-link
*/


.section-points-container {
    width:100%;
}

.section-point {
    padding: 50px;
}

.section-points-container .section-point .title {
    font-size: 27;
    font-weight: bold;
}
.section-points-container .section-point .blurb {
    font-size: 18;
}


.elmish-red-button {
    font-size: 22;
    padding: 12px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: rgb(219, 19, 105);
    display:block;
}


.rendered-md {
    max-width:1000px;
    font-size:20;
    text-align:left;
}

.countdown-block {
    background-color: rgba(0, 0, 0, 0.1);
    display:inline-block;
    border-radius: 5px;
    padding: 10px;
}
.countdown {
    text-transform: uppercase;
    font-weight: bold;
}
.countdown span {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    margin-left: 0.8rem;
}
.countdown span:first-of-type {
    margin-left: 0;
}