## ENABLE TEXT COMPRESSION ##
<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
mod_gzip_item_include handler ^cgi-script$
mod_gzip_item_include mime ^text/.*
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/svg "access 1 month"
ExpiresByType image/jpg "access 1 month"
ExpiresByType image/jpeg "access 1 month"
ExpiresByType image/gif "access 1 month"
ExpiresByType image/png "access 1 month"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 day"
ExpiresByType application/x-shockwave-flash "access 1 day"
ExpiresByType image/x-icon "access 1 day"
ExpiresDefault "access 1 day"
</IfModule>
## EXPIRES CACHING ##

## REDIRECTS: Remove www and force https ##
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.foundrydao\.com$
RewriteRule ^(.*)$ https://foundrydao.com/$1 [R=301,L]

RewriteCond %{HTTPS}  !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

# Prevent file browsing
Options -Indexes

#Homepage redirects 
Redirect /sale/terms /blog/?sale-terms
Redirect /sale https://sale.foundrydao.com/
Redirect /foundry-fry /?foundry-fry
Redirect /zimdai /?zimdai
Redirect /products /?products
Redirect /team-toast /?team-toast
Redirect /faq /?faq
Redirect /roadmap /?roadmap
Redirect /contact-us /?contact-us
Redirect /contact /?contact-us
Redirect /faq/about-the-token-sale /?faq/about-the-token-sale

#Blogs
Redirect /blog/sale-terms /blog/?sale-terms
Redirect /blog/affiliate-marketing /blog/?affiliate-marketing
Redirect /blog/letting-the-wise-lead /blog/?letting-the-wise-lead
Redirect /blog/what-is-foundry-meant-to-accomplish /blog/?what-is-foundry-meant-to-accomplish
Redirect /blog/converting-irrational-exuberance-into-rational-investment /blog/?converting-irrational-exuberance-into-rational-investment
Redirect /blog/yield-farming-opportunity /blog/?yield-farming-opportunity

#faq Question redirects
Redirect /faq/what-is-foundry /?faq/what-is-foundry
Redirect /faq/what-is-dao /?faq/what-is-dao 
Redirect /faq/what-is-foundry-meant-to-accomplish /?faq/what-is-foundry-meant-to-accomplish
Redirect /faq/who-controls-foundry /?faq/who-controls-foundry
Redirect /faq/how-will-foundry-work /?faq/how-will-foundry-work
Redirect /faq/where-does-the-foundry-treasury-get-money /?faq/where-does-the-foundry-treasury-get-money
Redirect /faq/what-is-liquid-democracy /?faq/what-is-liquid-democracy
Redirect /faq/doesnt-the-sec-have-a-major-problem-with-icos-and-token-sales /?faq/doesnt-the-sec-have-a-major-problem-with-icos-and-token-sales
Redirect /faq/how-do-i-participate /?faq/how-do-i-participate
Redirect /faq/how-do-i-get-ether-how-do-i-get-dai /?faq/how-do-i-get-ether-how-do-i-get-dai
Redirect /faq/what-happens-to-the-dai-i-invest /?faq/what-happens-to-the-dai-i-invest
Redirect /faq/i-dont-want-my-dai-to-be-controlled-by-team-toast-it-should-be-immediately-in-control-of-fry-holders /?faq/i-dont-want-my-dai-to-be-controlled-by-team-toast-it-should-be-immediately-in-control-of-fry-holders
Redirect /faq/how-long-does-the-sale-last /?faq/how-long-does-the-sale-last
Redirect /faq/how-many-fry-tokens-will-be-sold /?faq/how-many-fry-tokens-will-be-sold
Redirect /faq/how-many-fry-tokens-will-there-be /?faq/how-many-fry-tokens-will-there-be
Redirect /faq/is-there-a-pre-mine /?faq/is-there-a-pre-mine
Redirect /faq/how-does-the-sale-work /?faq/how-does-the-sale-work
Redirect /faq/will-foundrys-liquid-democracy-be-live-and-controlling-the-treasury-before-the-initial-20-month-sale-ends /?faq/will-foundrys-liquid-democracy-be-live-and-controlling-the-treasury-before-the-initial-20-month-sale-ends
Redirect /faq/what-is-the-goal-of-the-referral-program /?faq/what-is-the-goal-of-the-referral-program
Redirect /faq/what-are-the-benefits-of-using-a-referral-code-from-someone-else /?faq/what-are-the-benefits-of-using-a-referral-code-from-someone-else
Redirect /faq/what-are-the-benefits-of-sharing-a-referral-code /?faq/what-are-the-benefits-of-sharing-a-referral-code
Redirect /faq/how-do-i-make-a-referral-link /?faq/how-do-i-make-a-referral-link

#Enforce a no-trailing-slash policy
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301] 